
.stdBox  {
	margin: 0.5em;
	padding-bottom:0.2em;
	border: 0.2em solid;
	border-radius:0.7em;
}
.stdBox > .boxTitle {
	margin:0 0 0.2em 0;
	width:100%;
	padding-bottom: 0.2em;
	padding: 0.2em;
	font-weight: bold;
	margin-top:0;
	qproperty-alignment: AlignCenter;
	color:#fff;
	font-size:15px;
}
.stdBoxLegend {
	border: 0.2em solid;
	border-radius:0.7em;	
}
.stdBoxLegend > .boxLegend {
	margin:0;
	padding:0;
	width:100%;
	font-weight: bold;
	qproperty-alignment: AlignCenter;
	color:#fff;
	font-size:15px;
	background:qlineargradient(x1:0, y1:0.5, x2:0, y2:1, stop:0 #212121, stop:1 #757575);
}
.stdBox * {
	margin-left:0.2em;
}


.menuBox { border-color:#006064;}
.menuBox > .boxTitle {background:qlineargradient(x1:0, y1:0.5, x2:0, y2:1, stop:0 #006064, stop:1 #0097A7);}
.mainBox {border-color:#212121;}
.mainBox > .boxTitle {background:qlineargradient(x1:0, y1:0.5, x2:0, y2:1, stop:0 #212121, stop:1 #757575);}

.stdSubBox {
	/*padding:0.1em;*/
	border: 0.1em solid #000;
	border-radius:0.4em;
	margin: 0.2em 0.5em 0.2em 0.5em;
/*	qproperty-alignment: AlignTop;
*/}
.stdSubBox * {
	margin-left: 0.2em;	
}
.stdSubBox > .subBoxTitle {
	margin:0;
	font-size:13px;
	font-weight: bold;
	width:100%;
	background:qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #263238, stop:1 #546E7A); 
	padding: 0.1em 0 0.1em 0.5em;
	color:#fff;
}

.movableBox {
	max-height:100px;
	max-width:100px;
	text-align: center;
}

.boxVisu {
	qproperty-alignment: AlignTop;
	border: 2px #000 solid;

}

.radioBox {
    border: 3px solid #000;
    border-radius: 9px;
 
    /*background: #4ACFDB;*/
    margin: 0.5em 0.5em 0.5em 0;
}



